@import "public";
.category-list{
    display: none;
}
.nav-category .nav-category-head:hover{
    display: block;
}
.breadcrumb-wrap{
    width: 1200px;
    margin: 0 auto;
    a{
        color: #666;
        text-decoration: none;
    }
    em{
        font-style: normal;
        margin: 0 8px;
    }
    span{
        color: #666;
    }
}


.selector{
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 10px;
}
.wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.filter-item{
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 0 0 0 109px;
    background: #f7f7f7;
    border-top: 1px solid #e6e6e6;
    dt{
        position: absolute;
        top: 14px;
        left: 15px;
        width: 94px;
        height: 28px;
        font: 12px/28px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
        color: #666;
        font-weight: 800;
    }
}
.filter-box{
    padding: 14px 20px;
    border-left: 1px solid #e6e6e6;
    background: #fff;
}
.filter-box-inner{
    max-height: 56px;
    overflow: hidden;
    color: #999;
    .filter-list{
        overflow: hidden;
        margin: 0 70px 0 0;
        font: 12px/30px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
       a{
            float: left;
            height: 28px;
            line-height: 28px;
            overflow: hidden;
            margin: 0 20px 0 0;
            text-decoration: none;
            color: #005aa0;
        }
    }
}
.filter-box-inner .filter-list a.current, .filter-box-inner .filter-list a:hover {
    color: #fc002d;
}
.filter-item{
    position: relative;
    overflow: hidden;
    zoom: 1;
    padding: 0 0 0 109px;
    background: #f7f7f7;
    border-top: 1px solid #e6e6e6;
    dt{
        position: absolute;
        top: 14px;
        left: 15px;
        width: 94px;
        height: 28px;
        font: 12px/28px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
        color: #666;
        font-weight: 800;
    }
}
.filter-box {
    padding: 14px 20px;
    border-left: 1px solid #e6e6e6;
    background: #fff;
}
.filter-box-inner{
    max-height: 56px;
    overflow: hidden;
    color: #999;
    .filter-list{
        overflow: hidden;
        margin: 0 70px 0 0;
        font: 12px/30px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
    }
}
.filter-item p{
    cursor: pointer;
}
.morebtn{
    border: 1px solid #eee;
    margin-left: 30px;
    width: 52px;
    height: 24px;
    float: right;
    position: absolute;
    top: 18px;
    right: 20px;
    text-align: right;
    padding: 0 10px 0 0;
    color: #666;
    font: 12px/22px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
    background: url(../../dist/img/aspng.png) no-repeat 10px 8px;
}
.filter-item p:hover {
    color: red;
}
.morebtn[data-v-56633a74] {
    border: 1px solid #eee;
    margin-left: 30px;
    width: 52px;
    height: 24px;
    float: right;
    position: absolute;
    top: 18px;
    right: 20px;
    text-align: right;
    padding: 0 10px 0 0;
    color: #666;
    font: 12px/22px Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1";
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHBAMAAADOnLEXAAAABGdBT…YGtkAGljAGhlQBBgbRBCCHgYExrFQAJC8K4jAwsDgwMAAAcCMEU+7dT8AAAAAASUVORK5CYII=) no-repeat 10px 8px;
}